/**
* @component diff-viewer
*/
.diff-viewer {
    /**
    * @desc 删除背景颜色
    * @type color
    */
    --diff-viewer-del-background-color: #fbcaca; /* Light red background for removed lines */
    
    /**
    * @desc 删除字体颜色
    * @type color
    */
    --diff-viewer-del-color: #000; /* Black text color for removed lines */
    
    /**
    * @desc 新增背景颜色
    * @type color
    */
    --diff-viewer-ins-background-color: #d4fcbc; /* Light green background for added lines */
    
    /**
    * @desc 新增字体颜色
    * @type color
    */
    --diff-viewer-ins-color: #000; /* Black text color for added lines */
}